<!DOCTYPE html>
<html>
<head>
  <title>MyCommentsApp</title>
  <%= stylesheet_link_tag 'application', 'grid' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="row">
    <div id="main" class="column grid_8">
      <h1>My Comments App</h1>
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
